@import "tailwindcss";

@theme {
  --color-gold-dark: #9c6f1b;
  --color-gold: #c9971c;
  --color-gold-light: #e8b84b;

  --color-charcoal: #2b2b2b;
  --color-grey: #6e6e6e;
  --color-grey-light: #b8b8b8;

  --color-offwhite: #faf9f6;
  --color-nearblack: #1a1a1a;

  --color-sand: #efe3ce;
  --color-sand-dark: #cbb489;
}