---
import { Font } from 'astro:assets';
import '../styles/global.css';

interface Props {
	title: string;
	fonts?: string[];
}

const { title, fonts = [] } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{fonts.map((cssVariable, i) => <Font cssVariable={cssVariable} preload={i === 0} />)}
	</head>
	<body>
		<slot />
	</body>
</html>
